# dependencies
node_modules/
.pnp
.pnp.js

# database
db.sqlite

# next.js
.next/
out/
next-env.d.ts

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# turbo
.turbo

# vitest
tsconfig.vitest-temp.json

# docnode
**/docnode-worker.js

# tests
/.test-results/


# generated content
.contentlayer
.content-collections
.source